
h1 {
        text-align: center;
        font-family: "Delius Swash Caps";
        font-weight: 700;
        font-size: 3.3rem;
        color: #f0decb;
    }
e {
        text-align: center;
        font-family: "Delius Swash Caps";
        font-weight: 700;
        font-size: 2rem;
        color: #f0decb;
    }
#carouselExampleDark {
        text-align: center;
        margin: 6% auto;
        position: relative;
        /*width: 50%;*/
        color: #2d40af;
    }

.carousel .carousel-control-prev {
  position: absolute;
  left: -30%;
  z-index: 1;
  color: #2d40af !important;
  font-weight: bold;
}

.carousel .carousel-control-next {
  position: absolute;
  right: -30%;
  z-index: 4;
  color: #2d40af !important;
  font-weight: bold;
}

@media (max-width: 1069px) {
  .carousel .carousel-control-prev {
    left: 0%;
    color: #2d40af !important;
  }

  .carousel .carousel-control-next {
    right: 0%;
    color: #2d40af !important;
  }
}