
h1 {
        text-align: center;
        font-family: "Delius Swash Caps";
        font-weight: 700;
        font-size: 3.3rem;
        color: #f0decb;
    }
e {
        text-align: center;
        font-family: "Delius Swash Caps";
        font-weight: 700;
        font-size: 2rem;
        color: #f0decb;
    }
#carouselExampleDark {
        text-align: center;
        margin: 6% auto;
        position: relative;
        /*width: 50%;*/
        color: #f0decb;
    }
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}